<%= content_for :head do %>
	<%= stylesheet_link_tag 'plugins/jquery_ui/jquery-ui.min' %>
<% end %>
<%= content_for :footer do %>
	<%= javascript_include_tag 'plugins/jquery_ui/jquery-ui.min' %>
	<%= javascript_include_tag 'plugins/validates/index' %>
	<%= javascript_include_tag 'demo_form' %>
<% end %>
<%= form_for @demo, url: demos_path do |f|%>
	<div class="form-group">
	    <%= f.label :name, '活动名称' %>
	    <%= f.text_field :name, class:'form-control', :placeholder => '活动名称' %>
  	</div>
	<div class="form-group">
  	    <%= f.label :name, '开始时间' %>
	    <%= f.text_field :started_at, class:'form-control', :placeholder => '开始时间' %>
  	</div>	
  	<div><br></div>
  	<!-- :font_size, :model, :rate, :show_user_avatar, :show_user_name, :speed -->
  	<div class="form-group">
	    <%= f.label :font_size, '字体大小' %>&nbsp;&nbsp;<span id="font-size-value" ><%= @demo.font_size %>px</span>
	    <%= f.hidden_field :font_size, class:'form-control', :placeholder => '字体大小' %>
	    <div id="font-size-slider" class="slider" style="width: 300px;"></div>
  	</div>
  	<div class="form-group">
	    <%= f.label :speed, '速度' %>&nbsp;&nbsp;<span id="speed-value" class="slider "></span>
	    <%= f.hidden_field :speed, class:'form-control', :placeholder => '速度' %>
	    <div id="speed-slider" class="slider col-ms-1"  style="width: 300px;"></div>
  	</div>
	<div class="form-group">
	    <%= f.label :model, '模式' %>
	    <%= f.select :model, Configration::MODEL.invert , include_blank: "", class:'form-control' %>
  	</div>
	<div class="form-group">
	    <%= f.label :show_user_name, '显示用户名' %>
	    <%= f.check_box :show_user_name, {} %>
  	</div>
  	<div class="form-group">
	    <%= f.label :show_user_avatar, '显示用户头像' %>
	    <%= f.check_box :show_user_avatar,{} %>
  	</div>
  	<div class="form-group">
	    <%= f.submit '保存', class:'btn btn-success' %>
  	</div>	
<% end %>