<div class="message-panel">
	<div class="container">
		<h2><%= @demo.name %></h2>
	</div>
		<div class="col-sm-6 col-md-6 unread">
			<header>
				未显示
			</header>
			<body>
				<div class="content-panel">
					
				</div>
			</body>
		</div>
		<div class="col-sm-6 col-md-6 read">
			<header>
				已显示
			</header>
			<div class="content-panel">
				
			</div>
		</div>
		<div class="col-md-12 manager-panel">
			<%= form_for @demo.configration, url:"", :html =>{ :id => "edit-configration"} do |f|%>
				<div class="col-md-2">模式：<%= f.select 'model', Configration::MODEL.invert %></div>
				<div class="col-md-2">字体大小：<span id="fontSize"><%= @demo.font_size %>px</span>
				<%= f.hidden_field :font_size %>
				<div id="font-size-slider" class="slider"></div>
				</div>
				<div class="col-md-2">
					速度：<span id="speed"><%= @demo.speed %></span>
					<%= f.hidden_field :speed %>
					<div id="speed-slider" class="slider"></div>
				</div>
				<div class="col-md-2">
					频率：<span id="rate"><%= @demo.rate %>条/秒</span>
					<%= f.hidden_field :rate %>
					<div id="rate-slider" class="slider"></div>
				</div>
				<div class="col-md-2">显示用户名：<%= f.check_box :show_user_name %></div>
				<div class="col-md-2">显示用户头像：<%= f.check_box :show_user_avatar %></div>
			<% end %>
		</div>
		<div class="footer container">
			<button class="ss btn btn-primary" id="ss"><%= @demo.configration.is_started ? '结束' : '开始' %></button>
			<button class="sc btn btn-default" id="sc"><%= @demo.configration.is_stop ? '继续' : '暂停' %></button>
		</div>
	<%#= @demo.configration.inspect %>
</div>
<%= content_for :head do %>
	<%= stylesheet_link_tag 'plugins/jquery_ui/jquery-ui.min' %>
<% end %>
<%= content_for :footer do %>
<script type="text/javascript">
	var Options = (function(){
		return {
			demoId: <%= @demo.id %>,
			configrationId: <%= @demo.configration.id %>,
			fontSize: <%= @demo.font_size %>,
			speed: <%= @demo.speed %>,
			rate: <%= @demo.rate %>,
			model: <%= @demo.model %>,
			showUserName: <%= @demo.show_user_name %>,
			showUserAvatar: <%= @demo.show_user_avatar %>,
			checkModel: <%= @demo.check_model %>,
			isStarted: <%= @demo.configration.is_started %>,
			isStop: <%= @demo.configration.is_stop %>
		}
	})();
</script>
<%= javascript_include_tag 'plugins/jquery_ui/jquery-ui.min' %>
<%= javascript_include_tag 'danmu_check_message' %>
<% end %>