 <div class="video-container jumbotron" >
   <div class="container"> 
        <!--[if !IE]><!--> 
            <video id="really-video-diao-ye" class="video-js vjs-default-skin" style="width:1024px; height:576px;"
                  preload="auto" poster=""
               data-setup='{}'>
                <source src="http://fxms.chinacloudapp.cn/backup/diaoye_final.mp4" type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser
                  that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>  
         <!--<![endif]-->
         <!--[if gte IE 9]> 
                <video id="really-video-diao-ye" class="video-js vjs-default-skin" style="width:1024px; height:576px;"
                  preload="auto" poster="http://fxms.chinacloudapp.cn/backup/diaoye.png"
               data-setup='{}'>
                <source src="http://fxms.chinacloudapp.cn/backup/diaoye_final.mp4" type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser
                  that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>  
         <![endif]-->
      <!--[if lt IE 9]>
          <%= image_tag 'http://fxms.chinacloudapp.cn/backup/diaoye.png', style: "width:1024px; height:576px;"%>
          <!--object width="1024" height="576" id="stream-player" type="application/x-shockwave-flash" data="http://wangju.tv/Strobe601.swf" style="visibility: visible;">
          <param name="allowFullScreen" value="false">
          <param name="wmode" value="transparent">
          <param name="flashvars" value="src=http://portalvhdsvt7pcctrrrfv3.blob.core.chinacloudapi.cn/videos/203367322_1418634745.m3u8&amp;autoPlay=false&amp;poster=http://wangju.tv/assets/video_dy.jpg&amp;controlBarAutoHide=true&amp;plugin_hls=http://wangju.tv/HLSDynamicPlugin.swf">
          </object-->
      <!--<![endif]-->
  </div>     
  </div>
  <div class="content-body container">
  <div class="hbox"></div>
  <div class="description">
    <div class="col-md-6 one_half_first">
      <div class="green h2">弹幕现场直播-超大屏幕，超低延迟、超清现场、超炫效果</div>

      <div class="intro"> 支持LED、LCD、高清投影、拼接屏、矩阵输出等。<br>
        毫秒级延迟技术<br>
        无损高清视频输入输出 最高可支持4K高清分辨率<br>
        支持各种滚动弹幕和各种色彩搭配，<br>
        支持图形弹幕和各种高级动态弹幕。<br>
      </div>
      <div class="clear"></div>
    </div>
    <div class="col-md-6"> <%= image_tag 'prod_shot1.jpg' %> </div>
  </div> 
<hr>
<div class="description" style="">
  <div class="col-md-6"> <%= image_tag 'map.jpg' %> </div>
  <div class="col-md-6">
    <div class="one_half_first intro">
      <div class="h2">活跃现场气氛，增强互动体验</div>

      <p><strong>活跃现场气氛，增强互动体验</strong></p>

      <p>关注活动主办方微信公众账号，发送文字、表情消息，可以即时呈现在现场大屏上，有效调动现场人员的热情，增强现场人员的互动交流。</p>

      <p><strong>为您的微信公众账号迅速增涨真实有效的粉丝</strong></p>

      <p>弹幕直播展示的是您自己的微信公众账号，参与弹幕互动需要关注您设置的官方微信账号，可以快速为您的官方微信增涨粉丝，同时也保证了粉丝的质量。 </p>
    </div>
  </div>
</div>
<hr>
<div class="description">
  <div class="col-md-6 one_half_first">
    <div class="green h2">网上直播互动，打通现场和线上，弹幕同步呈现。</div>

    <div class="intro"> 引爆网上直播互动<br>

      <p>可在PC、PAD、手机等各种终端上观看直播的同时，发送弹幕，即刻参与网上互动。</p>
      现场和线上弹幕同步呈现<br>

      <p>现场可实时看到线上弹幕信息，及时了解和回应网上观众对节目的关注点。</p><br>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col-md-6"> <%= image_tag 'prod_shot2.jpg' %> </div>
</div>
<div class="description" style="">
  <div  class="h1" align="center" style="font-size:45px;font-weight:bold;margin-bottom:40px;"><span style="color:#f90">成功</span>案例
  </div>
  <!-- From left and right -->
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '1.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>36氪-关注互联网创业</h3>

            <p>36氪是中国领先的互联网创业公司服务提供商</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '2.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>3W，互联网的圈子</h3>

            <p>3W是由中国互联网行业领军企业家、创业家、投资人组成的人脉圈层</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '3.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>光线传媒</h3>

            <p>中国最大的民营传媒娱乐集团</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '4.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>微软中国</h3>

            <p>全球最大的电脑软件提供商</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '5.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>IBM</h3>

            <p>全球信息产业领导企业,为中国客户提供领先的的硬软件、企业咨询和技术服务</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '6.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>雷锋网</h3>

            <p>国内最早关注智能硬件行业的互联网科技媒体</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '7.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>PingWest中文网</h3>

            <p>全球视野的前沿科技媒体</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '8.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>中国人寿</h3>

            <p>中国人寿保险(集团)公司是国内最大的商业保险集团</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '9.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>i黑马</h3>

            <p>i黑马是面向“可资本化创业项目”的创新型综合服务平台</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '10.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>上方网</h3>

            <p>移动互联网第一门户</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '11.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>创业家</h3>

            <p>《创业家》是中国商界阳光创新富豪的创富工具。</p>
          </div>
        </div>
      </a></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 circle-ele">
      <div class="ih-item circle  effect6 scale_down_up"><a href="#">
        <div class="img"><%= image_tag '12.jpg' %></div>
        <div class="info">
          <div class="info-back">
            <h3>车库咖啡</h3>

            <p>一家以创业和投资为主题的咖啡厅</p>
          </div>
        </div>
      </a></div>
    </div>
  </div>
  <!-- end From left and right -->
</div>
</div>
<%= content_for :head do %>
   <%= stylesheet_link_tag 'http://vjs.zencdn.net/4.11/video-js.css', 'index' %>
<% end %>
<%= content_for :footer do %>
    <%= javascript_include_tag 'plugins/videojs/video', 'index' %>
<% end %>