 <div class="video-container jumbotron" >
   <div class="container"> 
        <!--[if !IE]><!--> 
            <video id="really-video-diao-ye" class="video-js vjs-default-skin" style="width:1024px; height:576px;"
                  preload="auto" poster=""
               data-setup='{}'>
                <source src="http://fxms.chinacloudapp.cn/backup/diaoye_final.mp4" type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser
                  that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>  
         <!--<![endif]-->
         <!--[if gte IE 9]> 
                <video id="really-video-diao-ye" class="video-js vjs-default-skin" style="width:1024px; height:576px;"
                  preload="auto" poster="http://fxms.chinacloudapp.cn/backup/diaoye.png"
               data-setup='{}'>
                <source src="http://fxms.chinacloudapp.cn/backup/diaoye_final.mp4" type='video/mp4'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser
                  that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>  
         <![endif]-->
      <!--[if lt IE 9]>
          <%= image_tag 'http://fxms.chinacloudapp.cn/backup/diaoye.png', style: "width:1024px; height:576px;"%>
          <!--object width="1024" height="576" id="stream-player" type="application/x-shockwave-flash" data="http://wangju.tv/Strobe601.swf" style="visibility: visible;">
          <param name="allowFullScreen" value="false">
          <param name="wmode" value="transparent">
          <param name="flashvars" value="src=http://portalvhdsvt7pcctrrrfv3.blob.core.chinacloudapi.cn/videos/203367322_1418634745.m3u8&amp;autoPlay=false&amp;poster=http://wangju.tv/assets/video_dy.jpg&amp;controlBarAutoHide=true&amp;plugin_hls=http://wangju.tv/HLSDynamicPlugin.swf">
          </object-->
      <!--<![endif]-->
  </div>     
  </div>
<%= content_for :head do %>
   <%= stylesheet_link_tag 'http://vjs.zencdn.net/4.11/video-js.css', 'index' %>
<% end %>
<%= content_for :footer do %>
    <%= javascript_include_tag 'plugins/videojs/video', 'index' %>
<% end %>