<!DOCTYPE html>
<html>
<head>
  <title>网聚直播</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%#= stylesheet_link_tag 'main'%>
  <%= stylesheet_link_tag 'plugins/bootstrap/css/bootstrap.min' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'plugins/bootstrap/js/bootstrap.min' %>
  <link href="http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,700,400italic" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
     <%= javascript_include_tag 'plugins/html5shiv.min' %>
     <%= javascript_include_tag 'plugins/respond.min' %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body style="margin: 0px;padding: 0px;">
<%= render :partial => 'layouts/header' %>
<%= yield %>
<%= render :partial => 'share/login' %>
<%= yield :footer %>
</body>
</html>
