<!DOCTYPE html>
<html>
<head>
  <title>网聚直播</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'plugins/bootstrap/css/bootstrap.min' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'plugins/bootstrap/js/bootstrap.min' %>
  <!--[if lt IE 9]>
     <%= javascript_include_tag 'plugins/html5shiv.min' %>
     <%= javascript_include_tag 'plugins/respond.min' %>
  <![endif]-->

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<%= render :partial => 'layouts/header' %>
<div class="">
  <%= render :partial => 'layouts/left_nav' %>
  <div class="col-xm-3 col-sm-9 col-md-9 col-lg-10 right-panel">
   <%= yield %>
  </div>
</div>
<%= yield :footer %>
</body>
</html>